Q1. Create one variable containing following type of data:

(i)	  string

In [1]:
a = "kevin"

In [2]:
a

'kevin'

(ii)   list

In [3]:
l = [1,2,3,4,5,"kevin",3.1432,True]

In [4]:
l

[1, 2, 3, 4, 5, 'kevin', 3.1432, True]

(iii)   float

In [5]:
pi = 3.14

In [6]:
pi

3.14

(iv)   tuple

In [7]:
int_tuple = (2,5,34,56,4)

In [8]:
int_tuple

(2, 5, 34, 56, 4)

Q2. Given are some following variables containing data:

(i)    var1 = ‘ ‘

This variable contains string that contains a single space character.

(ii)	var2 = ‘[ DS , ML , Python]’

This variable contains a list.that is representation of three element seprated by commas. the element is represents as string within single quotes.

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

This variable is a list that contains three elements. each represents as a string.

(iv)	var4 = 1.

This variable is an integer and its value is 1.

Q3. Explain the use of the following operators using an example:

In [ ]:
(i)	'/' Division Operator

This operator is use to divide two int variable or two numbers.

In [ ]:
(ii) '%' Modulous Operator

This operator is use to get remainder after devide two numbers or two integars.

In [ ]:
(iii) '//' Floor Division Operator

This operator is use to get the floor after division of two numbers or two integers.

In [ ]:
(iv) '**' Exponent Operator

This operator raises the left operand to the power of the right operand. it returns the result of the exponent.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
l=[1,2,3,4,5,"kevin","patel",3.1432,True,False]

In [11]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
kevin <class 'str'>
patel <class 'str'>
3.1432 <class 'float'>
True <class 'bool'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("Number of times", B, "divides", A, "completely:", count)

Number of times 5 divides 4 completely: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
numbers = [1, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]

for number in numbers:
    if number % 3 == 0:
        print(number, "is divisible by 3")
    else:
        print(number, "is not divisible by 3")

1 is not divisible by 3
4 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3
27 is divisible by 3
30 is divisible by 3
33 is divisible by 3
36 is divisible by 3
39 is divisible by 3
42 is divisible by 3
45 is divisible by 3
48 is divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
60 is divisible by 3
63 is divisible by 3
66 is divisible by 3
69 is divisible by 3
72 is divisible by 3
75 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable:-
Mutable are those data type that can be modified after they are created. Operations can directly modify the object without creating a new one.

In [14]:
#ex.
l = [1,2,3,4,5,"kevin",3.1432,True]

In [15]:
l[3] = 400

In [16]:
l

[1, 2, 3, 400, 5, 'kevin', 3.1432, True]

Imutable:-